<% provide(:title, "Log in") %>
<div style="margin: 200px 0px 200px 0px">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" class="btn btn-outline-success mx-1">
              <i class="bi bi-facebook"></i>
            </button>

            <button type="button" class="btn btn-outline-success mx-1">
              <i class="bi bi-linkedin"></i>
            </button>

            <button type="button" class="btn btn-outline-success mx-1">
              <i class="bi bi-google"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input -->
          <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

            <div class="form-outline mb-4">
              <%= f.email_field :email, class: 'form-control', placeholder: "Enter a valid email address"%>
            </div>

            <div class="form-outline mb-3">
              <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <%= f.submit "Login", class: "btn btn-outline-success", style: "padding-left: 2.5rem; padding-right: 2.5rem;"%>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <%= link_to 'Register', signup_path, class: "link-success"%></p>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
